* {
    color: darkblue;
}

body {
    background-color: rgb(219, 238, 255);
}

/* classes */

.container {
  display: grid;
  grid-template-columns: [start] 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px[end];
  grid-template-rows: 100px 220px 150px 220px;
  gap: 20px;
  margin: 40px;
}

.header {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 1;
  background: lightblue;
  border-style: solid;
}

.content {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  background: lightpink;
  border-style: solid;
}

.aside {
  grid-column-start: 8;
  grid-column-end: 12;
  grid-row-start: 2;
  background: lightgreen;
  border-style: solid;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 3;
  background: palegoldenrod;
  border-style: solid;
}
